<% @schools.each{ |school| %>
  <div class="card">
    <form action="/delete-school/<%= school.id %>" method="post">
      <input alt="Search Button" src="/images/delete.svg" type="image" class="delete-btn"/>
    </form>
    <a href="/items-by-school/<%= school.id %>">
      <img src="<%= school.icon_url %>" alt="<%= school.name %> icon">
    </a>
    <a href="/edit-school/<%= school.id %>">
      <h2><%= school.name %></h2>
    </a>
    <p><%= school.description %></p>
  </div>
<% } %>
