<% @inventory.each{ |inv_item| %>
  <% item = inv_item.read_item %>
  <% school = item.read_school %>
  <div class="inventory-tile">
    <img src="<%= school.icon_url %>" alt="<%= school.name %> icon">
    <a href="/edit-item/<%= item.id %>">
      <h2>Name: <%= item.name %></h2>
    </a>
    <p>Description: <%= item.description %></p>
    <p>Sell Price: <%= item.sell_price %></p>
    <p>Quantity: <%= inv_item.quantity %></p>
    <form action="/delete-item/<%= item.id %>" method="post">
      <input type="submit" value="" style="background:url(images/delete_icon.png) no-repeat;" />
    </form>
    <hr/>
  </div>
<% } %>
